body {
    background-image: url('bg.png');
    background-size: cover;
    width: 350px;
    height: 350px;

}

h1{
   margin-top: 0;
    padding : 10px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    font-family: lichess;
    font-size: 55px;
    text-align: center;
}

@font-face {
    font-family: lichess;
    src: url(AngerStyles.ttf);
}

button{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    color: white;
    background-color: rgba(0,0,0,0.7);
    margin-top: 5px;
    border-radius: 2px;
}

button:hover{
    cursor: pointer;
    border: rgba(255,255,255,0.6) 2px solid;
}

.h{
    width: 20px;
    height: 32px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    top: 52px;
    right: 91px;
    background-color: transparent;
    border: none;
}
.h:hover{
    cursor:text;
    border: none;
}

#custom {
    transition: width 1s, height 1s, left 1s, top 1s, border-radius 1s;
    position: absolute;
    left: 50%;
    top: 86%;
    transform: translate(-50%, -50%);
    width: 40px;
    border-radius: 20px;
    margin: 0;
    display: inline-block;
}

#custom:hover {
    width: 280px;
    border-radius: 0%;
}



/* pop up custom */
#customP{
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(0,0,0,0.8);
    width: 80%;
    height: 80%;
    border: black outset 4px;
    
}
input{
    color: transparent;
    margin-left: 30%;
    margin-top: 5px;
    cursor: pointer;
}

label{
    color: white;
    margin-left: 43%;
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    font-family: lichess;

}

h2{
    margin-top: 15px;
   font-family: lichess;
    font-size: 25px;
    margin: 0;
    color: white;
    text-align: center;
    text-decoration: underline;
}

h3{
    
    color: white;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}